body {
  background-color: #582f9c;
  font-family: "Trebuchet MS", "Verdana", sans-serif;
  color: #ffffff;
}

.container {
  width: 700px;
  margin: 40px auto;
  background-color: #000000;
  border: 2px solid #ffffff;
  padding: 15px;
  padding-top: 15px;
}

header {
  text-align: center;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 2px;
  margin-top: 0;
  padding-top: 0;
}

header h1 {
  margin-bottom: 0;
  margin-top: 0;
}

header .tagline {
  margin-top: 0;
}

h1 {
  font-family: "DIN Condensed", "Arial Narrow", sans-serif;
  letter-spacing: 1px;
  font-size: 72px;
}

.tagline {
  font-size: 0.9em;
  color: #cccccc;
}

nav {
  text-align: center;
  margin: 10px 0;
}

nav a {
  color: #ffffff;
  text-decoration: underline;
}

h2 {
  border-bottom: 1px solid #ffffff;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8em;
  color: #cccccc;
}
