body {
  background-color: #582f9c;
  font-family: "Trebuchet MS", "Verdana", sans-serif;
  color: #ffffff;
}

.container {
  width: 700px;
  margin: 40px auto;
  background-color: #000000;
  border: 2px solid #ffffff;
  padding: 15px 30px 15px;
}

header {
  text-align: center;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.tagline {
  font-size: 0.9em;
  color: #cccccc;
  margin-top: -15px;
}

h1 {
  font-family: "DIN Condensed", "Arial Narrow", sans-serif;
  letter-spacing: 1px;
  font-size: 72px;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  border-bottom: 1px solid #ffffff;
}

nav {
  text-align: center;
  margin: 10px 0;
}

nav a {
  color: #ffffff;
  text-decoration: underline;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 10px;
}

.header-text {
  text-align: center;
  flex-grow: 1;
}

.header-img {
  width: 120px;
  height: auto;
  position: relative;
  top: -15px;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8em;
  color: #cccccc;
}
